config.env
venv/
data/input/ga4_data.csv
scripts/__pycache__/
output/clusted_users.csv
output/model.pth
output/preprocessing_config.json
output/user_sequences.csv
output/user_url_embeddings.csv
output/user_combined_embeddings.csv